body {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}
.div-aba_superior{
    width: 100%;
    height: 100px;
    background-color: rgb(39, 34, 34);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.hollow_space{
    width: 250px;
    height: 100px;
}
.name_space{
    width: 200px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.buttons_space{
    width: 270px;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    opacity: 0;
}
 
.shopping-cart_space{
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.profile_space{
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.div-wholebody
{
    width: 100%;
    height: 100vh;
    background-color: rgb(57, 54, 54);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.hollow_space2
{
    width: 330px;
    height: 100vh;
}
.center-body{
    width: 890px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    margin-top: 50px;
}
.filter
{
    width: 120px;
    height: 30px;
    background-color: #E6852B;
    color: black;
    border-radius: 10px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-around;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container {
    overflow: hidden;
  }
  
  .filterDiv {
    float: left;
    background-color: #2196F3;
    color: #ffffff;
    width: 100px;
    line-height: 100px;
    text-align: center;
    margin: 2px;
    display: none; /* Hidden by default */
  }
  
  /* The "show" class is added to the filtered elements */
  .show {
    display: block;
  }
  
  /* Style the buttons */
  .btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
  }
  
  /* Add a light grey background on mouse-over */
  .btn:hover {
    background-color: #ddd;
  }
  
  /* Add a dark background to the active button */
  .btn.active {
    background-color: #666;
    color: white;
  }

.mySlides {display: none}
img {vertical-align: middle;}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    margin-bottom: 300px;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: rgb(74, 72, 72);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  .description {
    color: #000000;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    margin-bottom: 35px;
    width: 100%;
    text-align: center;
  }
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
  }

.small_box
{
    width: 400px;
    height: 300px;
    background-color: #E6852B;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}  
.medium_box
{
    width: 400px;
    height: 300px;
    background-color: #E6852B;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}  
.large_box
{
    width: 400px;
    height: 300px;
    background-color: #E6852B;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}  
.promotion
{
    width: 200px;
    height: 100px;
    background-color: #E6852B;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}  